<manifest>
  <application>
    <provider
      android:name=".fileprovider.GaleriaFileProvider"
      android:authorities="${applicationId}.GaleriaFileProvider"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/galeria_provider_paths" />
    </provider>
  </application>
</manifest>
